@model EduHub.Models.Announcement

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Announcement</h1>

<div class="card">
    <div class="card-body">
        <h3>Are you sure you want to delete this announcement?</h3>
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UploaderName)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.UploaderName)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Content)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Content)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PostedDate)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.PostedDate)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
