@model EduHub.Models.Resource

@{
    ViewData["Title"] = "Details";
}

<h1>Resource Details</h1>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UploaderName)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.UploaderName)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FilePath)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.FilePath)</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
